{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'NaturQuest' %}

{% block page_content %}
<link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <style>
        p { max-width: 600px; }
    
    </style>

    <p>
        <strong>Projet NaturQuest</strong>
    </p>

  
{% endblock %}
